<!DOCTYPE html>
<html lang="en">

<head>
    <title>Parámetros generales</title>
    <%- include ('../partials/head') %>

</head>

<body>
    <div class="wrapper">
        <%- include ('../partials/navegacion') %>
        <!-- Contenido general -->
        <div id="content">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <img src="../../Imagenes/Logo2.png" width="130" height="50" />
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Información -->
            <div class="container">
                <div class="row">
                    <div class="mx-auto">
                        <div class="card" style="width: 40rem;">
                            <img class="card-img-top"
                                src="https://rumboenergetico.com/wp-content/uploads/2017/08/clusterr.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">TRAMSA</h5>
                                <p class="card-text">Bienvenido al grupo TRAMSA, es un gusto servirle.</p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><i class="fas fa-phone"></i> Teléfono: 2235-4012</li>
                                    <li class="list-group-item"><i class="fas fa-id-card"></i> Cédula Jurídica: 3-101-141520</li>
                                    <li class="list-group-item"><i class="fas fa-map-marker-alt"></i> Dirección: Tournón, San José, San Francisco</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>