<div class="wrapper">
    <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
        <h4>Menú</h4>
    </div>

    <ul class="list-unstyled components">
        <!-- 1 -->
        <li class="active">
            <a href="#sistema" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sistema</a>
            <ul class="collapse list-unstyled" id="sistema">
                <li>
                    <a href="/cambioPassword">Cambiar contraseña</a>
                </li>
                <li>
                    <a href="/">Reiniciar sesión</a>
                </li>
                <li>
                    <a href="/paginaPrincipal">Salir</a>
                </li>
            </ul>
        </li>
        <!-- 2 -->
        <li class="active">
            <a href="#parametros" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle">Parámetros</a>
            <ul class="collapse list-unstyled" id="parametros">
                <li>
                    <a href="/parametrosGen">Parámetros generales</a>
                </li>
                <li>
                    <a href="/consecutivos">Consecutivos</a>
                </li>
            </ul>
        </li>
        <!-- 3 -->
        <li class="active">
            <a href="#administracion" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle">Administración</a>
            <ul class="collapse list-unstyled" id="administracion">
                <li>
                    <a href="/bodegas">Bodegas</a>
                </li>
                <li>
                    <a href="/camiones">Camiones</a>
                </li>
                <li>
                    <a href="/tipoMateriaPrima">Tipos de materia prima</a>
                </li>
                <li>
                    <a href="/materiaPrima">Materia prima</a>
                </li>
                <li>
                    <a href="/productos">Productos</a>
                </li>
                <li>
                    <a href="/proveedores">Proveedores</a>
                </li>
                <li>
                    <a href="/clientes">Clientes</a>
                </li>
            </ul>
        </li>
        <!-- 4 -->
        <li class="active">
            <a href="#procesos" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle">Procesos</a>
            <ul class="collapse list-unstyled" id="procesos">
                <li>
                    <a href="/pedidosMateria">Crear pedidos materia</a>
                </li>
                <li>
                    <a href="#">Comprobar orden del pedido</a>
                </li>
                <li>
                    <a href="#">Entrada de inventario</a>
                </li>
                <li>
                    <a href="/produccionLote">Producción en lote</a>
                </li>
                <li>
                    <a href="/puntoVenta">Punto de venta</a>
                </li>
            </ul>
        </li>
        <!-- 5 -->
        <li class="active">
            <a href="#cajas" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cajas</a>
            <ul class="collapse list-unstyled" id="cajas">
                <li>
                    <a href="#">Apertura de caja</a>
                </li>
                <li>
                    <a href="#">Arqueo de caja</a>
                </li>
                <li>
                    <a href="#">Pases de dinero</a>
                </li>
                <li>
                    <a href="#">Cierre de caja</a>
                </li>
            </ul>
        </li>
        <!-- 6 -->
        <li class="active">
            <a href="#seguridad" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle">Seguridad</a>
            <ul class="collapse list-unstyled" id="seguridad">
                <li>
                    <a href="/usuarios">Usuarios</a>
                </li>
            </ul>
        </li>
        <!-- 7 -->
        <li class="active">
            <a href="#consultas" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle">Consultas</a>
            <ul class="collapse list-unstyled" id="consultas">
                <li>
                    <a href="/bitacora">Bitácora</a>
                </li>
                <li>
                    <a href="/cliente">Clientes</a>
                </li>
                <li>
                    <a href="/pedido">Pedidos pendientes</a>
                </li>
            </ul>
        </li>
        <!-- 8 -->
        <li class="active">
            <a href="#reportes" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle">Reportes</a>
            <ul class="collapse list-unstyled" id="reportes">
                <li>
                    <a href="/productosReporte">Productos</a>
                </li>
                <li>
                    <a href="/inventario">Inventarios</a>
                </li>
            </ul>
        </li>
        <!-- 9 -->
        <li class="active">
            <a href="#ayuda" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ayuda</a>
            <ul class="collapse list-unstyled" id="ayuda">
                <li>
                    <a href="/acercaDe">Acerca de</a>
                </li>
                <li>
                    <a href="/ayuda">Ayuda</a>
                </li>
            </ul>
        </li>



    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="/" class="download">Cerrar sesión</a>
        </li>
    </ul>
</nav>
</div>

<!-- Para el menú -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>

<script type="text/javascript">
$(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>