<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cambio contraseña</title>
    <link rel="stylesheet" href="css/Sistema/login.css" type="text/css" media="all" />
    <%- include ('../partials/head') %>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="Imagenes/Logo1.png" width="185" height="70">
                        </div>
                    </br>
                        <form class="form-signin" action="/cambioPassword" method="POST">
                                
                            <div class="form-label-group">
                                <input type="Usuario" id="Usuario" class="form-control" placeholder="Usuario"
                                    required  name="user">
                                <label for="Usuario"> <i class="fas fa-lock"></i> Usuario</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="newPassword" class="form-control" placeholder="Contraseña"
                                    required name="contrasena">
                                <label for="newPassword"> <i class="fas fa-pencil-alt"></i> Nueva contraseña</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="confirmPassword" class="form-control" placeholder="Contraseña"
                                    required name="contrasenaNueva">
                                <label for="confirmPassword"> <i class="fas fa-pencil-alt"></i> Confirmar contraseña</label>
                            </div>


                            <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                type="submit" >Aceptar</button>
                            <hr class="my-4">
                            <div class="text-center">
                                <a type="button" class="btn btn-link" href="/">Volver</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>